{% extends "base.html" %}
{% block content %}
  {{ super() }}
  <h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
  <script src="https://giscus.app/client.js"
        data-repo="Wyatt-Zhu/MyBlog"
        data-repo-id="R_kgDOHyWUBA"
        data-category="Coments"
        data-category-id="DIC_kwDOHyWUBM4CQuo3"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
  <script>var theme,giscus=document.querySelector("script[src*=giscus]"),palette=__md_get("__palette");palette&&"object"==typeof palette.color&&(theme="slate"===palette.color.scheme?"dark":"light",giscus.setAttribute("data-theme",theme)),document.addEventListener("DOMContentLoaded",function(){document.querySelector("[data-md-component=palette]").addEventListener("change",function(){var e=__md_get("__palette");e&&"object"==typeof e.color&&(e="slate"===e.color.scheme?"dark":"light",document.querySelector(".giscus-frame").contentWindow.postMessage({giscus:{setConfig:{theme:e}}},"https://giscus.app"))})})</script>
{% endblock %}